<!DOCTYPE html>
<html>
<head>
    <title>Dodawanie użytkowników</title>
    <link rel="stylesheet" type="text/css" href="/views/registerClients/register.css">
    <script type="text/javascript" src="/views/registerClients/register.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="mainContainer">
    <nav class="circle">
        <ul>
            <li><a href="../../Index/">Home</a></li>
            <li><a href="../../RegisterClients/">Rejestracja użytkownika</a></li>
            <li><a href="../../RegisterVehicles/">Rejestracja pojazdu</a></li>
            <li><a href="../../ListClients/">Lista użytkowników</a></li>
            <li><a href="../../ListVehicles/">Lista pojazdów</a></li>
        </ul>
    </nav>
    <div class="header">
        <h1 class="addUserHeading">Rejestracja użytkownika do systemu CEPIK</h1>
    </div>
    <form method="post" action="addUser" name="addUserForm">
        <ul class="form-style-1">
            <li>
                <label>Imię i nazwisko<span class="required"> *</span></label>
                <input type="text" name="firstname" required class="field-divided"/>&nbsp;<input type="text" name="lastname" required
                                                                                   class="field-divided"/></li>
            <li>
                <label>Adres zamieszkania<span class="required"> *</span></label>
                <input type="text" name="address" required class="field-long"/>
            </li>
            <li>
                <span id="status"></span><br>
                <label>Kod pocztowy<span class="required"> *</span></label>
                <input type="text" name="postalCode" onkeyup="postcode_validate(this.value);" required class="field-long postalCode"/>
            </li>
            <li>
                <label>Miasto<span class="required"> *</span></label>
                <input type="text" name="city" required class="field-long"/>
            </li>
            <li>
                <label>Data urodzenia<span class="required"> *</span></label>
                <input type="date" name="birthDate" required class="field-long"/>
            </li>
            <li>
                <label>Pesel<span class="required"> *</span></label>
                <input type="text" name="pesel" required class="field-long"/>
            </li>
            <li>
                <input type="submit" value="Dodaj użytkownika"/>
            </li>
        </ul>
    </form>
    <div class="stopka">CEPIK by I5B1N1</div>
</div>
</body>
</html>