body {
    /*background-image: url(/pictures/main_content.jpg);*/
    /*background-size: cover;*/
    background-color: #8FBC8F;
}

.clientListTable {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 100%;
    text-align: center;
}

#status {
    color: #000099;
    font: 8pt verdana;
    font-weight:bold;
    text-decoration:none;
}

.clientListTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.clientListTable td,
.clientListTable th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

.clientListTable tr:nth-child(even) {
    background-color: #dddddd;
}

.addUserHeading {

}

.mainContainer {
    width: 80%;
    margin: 0 auto;
}

.mainBox {
    background-color: white;
    margin: 0 auto;
    margin-top: 25px;
    /*opacity: 0.6;*/
}

.input {
    width: 250px;
}

.formContainer {
    width: 50%;
    margin: 0 auto;

}

.saveUser {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.saveUserButton {
    padding: 15px;
}

.saveUserContainer {
    margin-top: 20px;
}

.stopka {
    width: 80%;
    background-color: lightcoral;
    height: 30px;
    font-size: 14px;
    text-align: center;
    position: fixed;
    bottom: 0;
}

br {
    display: none;
}

/* NAVIGATION */
nav {
    /*width: 80%;*/
    height: 48px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0px 5px 0px #dedede;
}

/* By Dominik Biedebach @domobch */
nav ul {
    list-style: none;
    text-align: center;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #aaa;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}
nav ul li a:hover {
    color: #555;
}

/* By Dominik Biedebach @domobch */


/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
    position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #333;
    height: 1px;
}
nav.stroke ul li a:hover:after {
    width: 100%;
}

nav.fill ul li a {
    transition: all 2s;
}
/* By Dominik Biedebach @domobch */

nav.fill ul li a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
}
nav.fill ul li a:hover {
    color: #023f1c;
    z-index: 1;
}
nav.fill ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
}

/* Circle */
nav.circle ul li a {
    position: relative;
    overflow: hidden;
    z-index: 1;
}
/* By Dominik Biedebach @domobch */
nav.circle ul li a:after {
    display: block;
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '.';
    color: transparent;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: transparent;
}
nav.circle ul li a:hover:after {
    -webkit-animation: circle 1.5s ease-in forwards;
}

/* SHIFT */
nav.shift ul li a {
    position:relative;
    z-index: 1;
}
nav.shift ul li a:hover {
    color: #91640F;
}
nav.shift ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #F1C40F;
    opacity: 0;
    z-index: -1;
}
nav.shift ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

/* By Dominik Biedebach @domobch */

/* Blend */
nav.blend ul li a {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
}
nav.blend ul li a:hover {
    color: #fff;
}
nav.blend ul li a:before,
nav.blend ul li a:after {
    position: absolute;
    width: 0px;
    height: 100%;
    top: 0;
    bottom: 0;
    background: #D35400;
    transition: all .5s;
    margin: auto;
    content: '.';
    color: transparent;
    z-index: -1;
    opacity: 0.75;
}
nav.blend ul li a:before {
    left: 0;
}
nav.blend ul li a:after {
    right: 0;
}

nav.blend ul li a:hover:after,
nav.blend ul li a:hover:before {
    width: 100%;
}

/* DROWN */

nav.drown ul li a {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

nav.drown ul li a:hover {
    color: #fff;
}

nav.drown ul li a:before {
    background: #fff;
    content: '.';
    color: transparent;
    position: absolute;
    width: 500%;
    top: 100px;
    right: 300px;
    height: 300px;
    z-index: -1;
}
nav.drown ul li a:hover:before {
    left: auto;
    bottom: auto;
    right: -50%;
    top: 0;
    background: #89C52B;
}



/* Keyframes */
@-webkit-keyframes fill {
    0% {
        width: 0%;
        height: 1px;
    }
    50% {
        width: 100%;
        height: 1px;
    }
    100% {
        width: 100%;
        height: 100%;
        background: #2ECC71;
    }
}

/* Keyframes */
@-webkit-keyframes circle {
    0% {
        width: 1px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        height: 1px;
        z-index: -1;
        background: #eee;
        border-radius: 100%;
    }
    100% {
        background: #aaa;
        height: 5000%;
        width: 5000%;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 0;
    }
}

/*form*/

.form-style-1 {
    margin:10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}
.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
    width: 49%;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form-style-1 .required{
    color:red;
}

.detailsButton,
.saveUpdateButton,
.cancelButton {
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}

.cancelButton {
    width: 200px;
}

.detailsButton:hover,
.saveUpdateButton:hover,
.cancelButton:hover {
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}

.cancelButtonContainer {
    margin: 10px auto;
    max-width: 400px;
    padding: 0px 12px 10px 20px;
}

.annotationList {
    border-width: 2px;
    border-style: solid;
    background-color: #88D5E9;
    margin: 0 auto;
    width: 50%;
    margin-top: 30px;
}

.annotationTitle {
    padding: 10px;
}

.mainContentHome {
    margin: 0 auto;
    width: 50%;
    margin-top: 40px;
}

.pageTitle {

    margin: 0 auto;
    margin-top: 120px;
    width: 34%;
    color: #fff;
    font-family: 'Cardo', serif;
    font-size: 40px;
    font-weight: normal;
    font-style: italic;
    letter-spacing: 0.1em;
    line-height: 2.2em;
}