<!DOCTYPE html>
<html>
<head>
    <title>Szczegóły pojazdu</title>
    <link rel="stylesheet" type="text/css" href="/views/registerClients/register.css">
    <script type="text/javascript" src="/views/registerClients/register.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400' rel='stylesheet' type='text/css'>
</head>
<body>
<?php $detailsVehicle = $data['detailsVehicle']; ?>
<?php $annotationList = $data['annotationList']; ?>
<div class="mainContainer">

    <nav class="circle">
        <ul>
            <li><a href="../../Index/">Home</a></li>
            <li><a href="../../RegisterClients/">Rejestracja użytkownika</a></li>
            <li><a href="../../RegisterVehicles/">Rejestracja pojazdu</a></li>
            <li><a href="../../ListClients/">Lista użytkowników</a></li>
            <li><a href="../../ListVehicles/">Lista pojazdów</a></li>
        </ul>
    </nav>

    <div class="header">
        <h1 class="addUserHeading">Szczegóły pojazdu o numerze rejestracyjnym <?= $detailsVehicle['registerNo'] ?></h1>
    </div>

    <form method="post" action="../updateVehicle" name="updateVehicleForm">
        <input type="hidden" name="id" value="<?= $detailsVehicle['id'] ?>"/>
        <ul class="form-style-1">
            <li>
                <label>VIN</label>
                <input type="text" name="vin" class="field-long vin" value="<?= $detailsVehicle['vin'] ?>"/>
            <li>
                <label>Numer rejestracyjny</label>
                <input type="text" name="registerNo" class="field-long registerNo"
                       value="<?= $detailsVehicle['registerNo'] ?>"/>
            </li>
            <li>
                <label>Data pierwszej rejestracji</label>
                <input type="date" name="formerRegistrationDate" class="field-long formerRegistrationDate"
                       value="<?= $detailsVehicle['formerRegistrationDate'] ?>"/>
            </li>
            <li>
                <label>Data rejestracji</label>
                <input type="date" name="registrationDate" class="field-long registrationDate"
                       value="<?= $detailsVehicle['registrationDate'] ?>"/>
            </li>
            <li>
                <label>Data ostatniego przeglądu</label>
                <input type="date" name="lastReviewDate" class="field-long lastReviewDate"
                       value="<?= $detailsVehicle['lastReviewDate'] ?>"/>
            </li>
            <li>
                <input type="submit" class="saveUpdateButton" value="Edytuj"/>
            </li>
        </ul>
    </form>

    <div class="cancelButtonContainer">
        <button class="cancelButton" onclick="window.location.href='/listVehicles/'">Wróc do listy pojazdów</button>
    </div>

    <?php if (!empty($annotationList)) { ?>
        <div class="annotationList">
            <?php foreach ($annotationList as $value) { ?>
                <?php if (isset($value['author'])) { ?>
                    <h1 class="annotationTitle">Zgłoszenia: </h1>
                    <ul class="form-style-1" style="margin: 0px !important;">
                        <li>
                            <label><?= $value['author']['role']['name'] ?>: <?= $value['content'] ?></label>
                        <li>
                    </ul>
                <?php } ?>
            <?php } ?>
        </div>
    <?php } ?>

    <div class="stopka">CEPIK by I5B1N1</div>
</div>

</body>
</html>
