<!DOCTYPE html>
<html>
<head>
    <title>Lista pojazdów</title>
    <link rel="stylesheet" type="text/css" href="/views/registerClients/register.css">
    <script type="text/javascript" src="/views/registerClients/register.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="mainContainer">
    <nav class="circle">
        <ul>
            <li><a href="../../Index/">Home</a></li>
            <li><a href="../../RegisterClients/">Rejestracja użytkownika</a></li>
            <li><a href="../../RegisterVehicles/">Rejestracja pojazdu</a></li>
            <li><a href="../../ListClients/">Lista użytkowników</a></li>
            <li><a href="../../ListVehicles/">Lista pojazdów</a></li>
        </ul>
    </nav>
    <div class="header">
        <h1 class="addUserHeading">Lista pojazdów zarejestrowanych w systemie CEPIK</h1>
    </div>
    <?php if (isset($data['listVehicles'])) { ?>
        <?php $listVehicles = $data['listVehicles']; ?>
        <!--        --><?php //var_dump($listClients); ?>
        <table class="clientListTable">
            <tr>
                <th>VIN</th>
                <th>Numer rejestracyjny</th>
                <th>Data pierwszej rejestracji</th>
                <th>Data rejestracji</th>
                <th>Data ostatniego przeglądu</th>
                <th>Akcje</th>
            </tr>
            <?php foreach ($listVehicles as $val) { ?>
                <tr>
                    <td> <?= $val['vin']; ?></td>
                    <td> <?= $val['registerNo']; ?></td>
                    <td> <?= $val['formerRegistrationDate']; ?></td>
                    <td> <?= $val['registrationDate']; ?></td>
                    <td> <?= $val['lastReviewDate']; ?></td>
                    <td> <button class="detailsButton" onclick="window.location.href='/listVehicles/details/?id=<?= $val['id'] ?>'" >Szczegóły</button></td>
                </tr>

            <?php } ?>
        </table>
    <?php } else { ?>
        BŁĄD W POBRANIU ZAREJESTROWANYCH POJAZDÓW
    <?php } ?>

    <div class="stopka">CEPIK by I5B1N1</div>
</div>
</body>
</html>
