<!DOCTYPE html>
<html>
<head>
    <title>Strona główna</title>
    <link rel="stylesheet" type="text/css" href="/views/registerClients/register.css">
    <script type="text/javascript" src="/views/registerClients/register.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="mainContainer">
    <nav class="circle">
        <ul>
            <li><a href="../../Index/">Home</a></li>
            <li><a href="../../RegisterClients/">Rejestracja użytkownika</a></li>
            <li><a href="../../RegisterVehicles/">Rejestracja pojazdu</a></li>
            <li><a href="../../ListClients/">Lista użytkowników</a></li>
            <li><a href="../../ListVehicles/">Lista pojazdów</a></li>
        </ul>
    </nav>


    <h1 class="pageTitle">Witaj w systemie CEPiK!</h1>
    <div class="mainContentHome">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="logoCEPiK"
             x="0px" y="0px" width="500px" height="160px" viewBox="0 0 500 160" enable-background="new 0 0 500 160"
             xml:space="preserve">
<g>
    <path class="logotext" fill="#4A4A49"
          d="M186.075,87.05h-6.245v21.081h2.818v-7.144h3.305c2.681,0,4.617-0.566,5.811-1.699   c1.193-1.131,1.79-2.968,1.79-5.506c0-2.314-0.59-4.016-1.767-5.103C190.608,87.593,188.705,87.05,186.075,87.05z M190.118,96.592   c-0.319,0.646-0.822,1.112-1.508,1.401c-0.686,0.29-1.77,0.435-3.251,0.435h-2.711v-8.834h3.106c1.768,0,3.017,0.34,3.747,1.021   c0.731,0.68,1.097,1.757,1.097,3.229C190.598,95.031,190.438,95.948,190.118,96.592z M208.816,93.835   c-1.188-1.426-2.931-2.139-5.225-2.139c-2.275,0-4.021,0.7-5.233,2.102s-1.819,3.528-1.819,6.382c0,2.803,0.604,4.907,1.812,6.312   c1.208,1.407,2.955,2.11,5.24,2.11c2.284,0,4.022-0.711,5.216-2.132c1.193-1.422,1.79-3.519,1.79-6.291   C210.597,97.377,210.003,95.263,208.816,93.835z M206.827,104.825c-0.706,0.995-1.784,1.493-3.235,1.493   c-1.523,0-2.628-0.503-3.313-1.508c-0.686-1.006-1.027-2.55-1.027-4.631c0-2.163,0.354-3.74,1.065-4.729   c0.711-0.99,1.802-1.484,3.275-1.484c1.432,0,2.505,0.492,3.221,1.477c0.716,0.985,1.074,2.564,1.074,4.737   C207.886,102.282,207.534,103.83,206.827,104.825z M217.855,86.905c0.259,0.239,0.389,0.637,0.389,1.196   c0,0.609-0.136,1.022-0.404,1.24c-0.269,0.219-0.707,0.328-1.316,0.328c-0.64,0-1.08-0.137-1.318-0.411s-0.357-0.66-0.357-1.157   c0-0.539,0.129-0.933,0.388-1.182c0.259-0.248,0.688-0.372,1.288-0.372C217.151,86.548,217.596,86.667,217.855,86.905z    M215.212,92.152h2.62v16.664c0,1.929-0.377,3.3-1.127,4.112c-0.752,0.812-1.965,1.219-3.641,1.219   c-1.017,0-1.971-0.152-2.863-0.457l0.655-2.163c0.74,0.294,1.508,0.441,2.3,0.441c0.853,0,1.408-0.298,1.667-0.892   s0.389-1.449,0.389-2.565V92.152z M233.354,92.945c-0.996-0.833-2.641-1.249-4.936-1.249c-1.483,0-2.725,0.235-3.725,0.707   c-1,0.473-1.743,1.15-2.23,2.034l2.147,1.31c0.253-0.437,0.671-0.843,1.256-1.218c0.584-0.376,1.414-0.563,2.491-0.563   c1.207,0,2.154,0.223,2.84,0.67c0.686,0.446,1.028,1.284,1.028,2.513v0.777l-3.93,0.351c-1.554,0.183-2.74,0.484-3.557,0.905   c-0.817,0.422-1.441,0.995-1.874,1.721c-0.432,0.728-0.646,1.639-0.646,2.735c0,1.451,0.413,2.642,1.24,3.571   c0.828,0.929,2.004,1.394,3.527,1.394c1.036,0,1.965-0.233,2.787-0.7c0.822-0.468,1.64-1.057,2.452-1.767v1.995h2.62v-10.86   C234.846,95.219,234.348,93.777,233.354,92.945z M232.226,103.927c-0.335,0.264-0.678,0.536-1.028,0.814   c-0.351,0.279-0.713,0.528-1.089,0.746c-0.376,0.219-0.757,0.401-1.142,0.549c-0.387,0.147-0.777,0.221-1.173,0.221   c-0.956,0-1.672-0.208-2.148-0.624c-0.478-0.417-0.716-1.103-0.716-2.057c0-1.005,0.354-1.77,1.066-2.293   c0.711-0.521,1.935-0.859,3.671-1.012l2.559-0.244V103.927z M241.685,105.922h8.606v2.209h-11.729v-1.995l8.331-11.79h-8.148   v-2.193h11.302v1.904L241.685,105.922z M264.198,93.463c-1.352-1.179-2.833-1.767-4.448-1.767c-2.01,0-3.585,0.776-4.722,2.33   c-1.138,1.554-1.706,3.635-1.706,6.245c0,2.66,0.522,4.713,1.569,6.16c1.045,1.447,2.528,2.171,4.447,2.171   c0.954,0,1.853-0.197,2.696-0.594c0.842-0.396,1.563-0.884,2.163-1.462v1.584h2.635v-22.68h-2.635V93.463z M264.198,104.201   c-0.56,0.538-1.218,1.015-1.974,1.432c-0.756,0.416-1.551,0.624-2.383,0.624c-2.54,0-3.808-2.016-3.808-6.047   c0-2.122,0.378-3.683,1.134-4.684c0.756-1,1.729-1.5,2.917-1.5c1.351,0,2.722,0.573,4.113,1.721V104.201z M278.257,91.696   c-2.275,0-4.02,0.7-5.232,2.102c-1.214,1.401-1.82,3.528-1.82,6.382c0,2.803,0.604,4.907,1.812,6.312   c1.208,1.407,2.955,2.11,5.24,2.11c2.284,0,4.022-0.711,5.216-2.132c1.193-1.422,1.791-3.519,1.791-6.291   c0-2.803-0.595-4.917-1.782-6.345C282.293,92.409,280.551,91.696,278.257,91.696z M281.493,104.825   c-0.707,0.995-1.785,1.493-3.236,1.493c-1.523,0-2.628-0.503-3.313-1.508c-0.686-1.006-1.027-2.55-1.027-4.631   c0-2.163,0.354-3.74,1.065-4.729c0.711-0.99,1.802-1.484,3.275-1.484c1.432,0,2.505,0.492,3.221,1.477   c0.716,0.985,1.074,2.564,1.074,4.737C282.552,102.282,282.199,103.83,281.493,104.825z M276.338,89.731l2.711-5.499h3.595   l-4.144,5.499H276.338z M305.917,92.152h2.62l-3.93,15.979h-2.438l-3.899-12.231l-3.898,12.231h-2.392l-3.976-15.979h2.727   l2.711,12.171l3.809-12.171h2.178l3.899,12.171L305.917,92.152z M320.524,92.152h2.62v15.979h-2.62V92.152z M323.159,86.905   c0.264,0.239,0.396,0.637,0.396,1.196c0,0.609-0.138,1.022-0.411,1.24c-0.274,0.219-0.712,0.328-1.311,0.328   c-0.64,0-1.081-0.137-1.325-0.411c-0.243-0.274-0.365-0.66-0.365-1.157c0-0.539,0.132-0.933,0.396-1.182   c0.263-0.248,0.694-0.372,1.294-0.372C322.453,86.548,322.895,86.667,323.159,86.905z M343.539,96.737l9.048,11.394h-3.579   l-7.266-9.353l-1.995,2.239v7.113h-2.818V87.05h2.818v10.343l8.91-10.343h3.503L343.539,96.737z M355.374,92.152h2.62v15.979h-2.62   V92.152z M358.009,86.905c0.264,0.239,0.396,0.637,0.396,1.196c0,0.609-0.137,1.022-0.411,1.24   c-0.274,0.219-0.712,0.328-1.31,0.328c-0.641,0-1.082-0.137-1.325-0.411c-0.244-0.274-0.366-0.66-0.366-1.157   c0-0.539,0.132-0.933,0.396-1.182c0.263-0.248,0.695-0.372,1.295-0.372C357.303,86.548,357.745,86.667,358.009,86.905z    M369.25,91.696c-2.306,0-4.029,0.697-5.172,2.093c-1.143,1.397-1.713,3.558-1.713,6.482c0,2.792,0.586,4.879,1.759,6.26   s2.948,2.071,5.324,2.071c1.492,0,2.675-0.246,3.549-0.739c0.872-0.491,1.614-1.194,2.224-2.108l-2.163-1.341   c-0.498,0.67-1.016,1.155-1.553,1.454c-0.539,0.301-1.164,0.45-1.874,0.45c-1.595,0-2.753-0.45-3.473-1.349   c-0.722-0.898-1.081-2.404-1.081-4.516h10.388v-1.462c0-2.479-0.519-4.313-1.554-5.507   C372.875,92.293,371.321,91.696,369.25,91.696z M365.107,98.397c0.202-1.584,0.616-2.734,1.24-3.45   c0.625-0.716,1.562-1.073,2.812-1.073c1.31,0,2.255,0.396,2.84,1.188c0.584,0.792,0.886,1.903,0.906,3.335H365.107z    M387.254,91.909c0.659,0,1.188,0.106,1.584,0.319l-0.563,2.514c-0.285-0.122-0.691-0.183-1.219-0.183   c-0.782,0-1.537,0.18-2.263,0.54c-0.726,0.361-1.571,1.023-2.535,1.988v11.043h-2.62V92.152h2.62v2.59   c0.731-0.741,1.5-1.398,2.307-1.974C385.372,92.195,386.268,91.909,387.254,91.909z M397.307,91.696c-2.275,0-4.02,0.7-5.232,2.102   s-1.819,3.528-1.819,6.382c0,2.803,0.604,4.907,1.812,6.312c1.207,1.407,2.955,2.11,5.239,2.11c2.285,0,4.022-0.711,5.216-2.132   c1.194-1.422,1.791-3.519,1.791-6.291c0-2.803-0.595-4.917-1.782-6.345C401.343,92.409,399.602,91.696,397.307,91.696z    M400.543,104.825c-0.706,0.995-1.785,1.493-3.236,1.493c-1.523,0-2.628-0.503-3.313-1.508c-0.686-1.006-1.027-2.55-1.027-4.631   c0-2.163,0.354-3.74,1.066-4.729c0.71-0.99,1.801-1.484,3.274-1.484c1.432,0,2.505,0.492,3.221,1.477   c0.716,0.985,1.074,2.564,1.074,4.737C401.602,102.282,401.249,103.83,400.543,104.825z M424.968,92.152h2.619l-3.93,15.979h-2.437   l-3.899-12.231l-3.899,12.231h-2.392l-3.976-15.979h2.727l2.711,12.171l3.809-12.171h2.178l3.899,12.171L424.968,92.152z    M441.006,104.354l2.147,1.31c-0.498,0.854-1.188,1.557-2.071,2.109c-0.883,0.554-2.102,0.83-3.655,0.83   c-2.346,0-4.112-0.709-5.301-2.125c-1.188-1.417-1.782-3.516-1.782-6.298s0.589-4.892,1.767-6.329   c1.178-1.437,2.914-2.154,5.21-2.154c2.629,0,4.503,0.975,5.62,2.924l-2.147,1.311c-0.396-0.62-0.861-1.103-1.395-1.447   c-0.533-0.346-1.236-0.518-2.108-0.518c-1.535,0-2.623,0.555-3.269,1.667c-0.646,1.111-0.966,2.647-0.966,4.608   c0,1.492,0.152,2.654,0.456,3.487c0.305,0.832,0.778,1.473,1.424,1.92c0.646,0.446,1.465,0.67,2.461,0.67   c0.853,0,1.548-0.161,2.087-0.48C440.021,105.518,440.528,105.023,441.006,104.354z M453.085,91.696c-2.275,0-4.02,0.7-5.233,2.102   c-1.213,1.401-1.819,3.528-1.819,6.382c0,2.803,0.604,4.907,1.812,6.312c1.208,1.407,2.955,2.11,5.24,2.11   c2.284,0,4.022-0.711,5.216-2.132c1.193-1.422,1.79-3.519,1.79-6.291c0-2.803-0.594-4.917-1.781-6.345   C457.121,92.409,455.379,91.696,453.085,91.696z M456.32,104.825c-0.706,0.995-1.784,1.493-3.235,1.493   c-1.523,0-2.628-0.503-3.313-1.508c-0.686-1.006-1.027-2.55-1.027-4.631c0-2.163,0.354-3.74,1.065-4.729   c0.711-0.99,1.802-1.484,3.275-1.484c1.432,0,2.505,0.492,3.221,1.477c0.716,0.985,1.074,2.564,1.074,4.737   C457.38,102.282,457.027,103.83,456.32,104.825z M453.328,89.731h-2.163l2.712-5.499h3.595L453.328,89.731z M483.365,92.152   l-3.93,15.979h-2.438l-3.899-12.231l-3.898,12.231h-2.392l-3.976-15.979h2.727l2.711,12.171l3.808-12.171h2.179l3.899,12.171   l2.589-12.171H483.365z M193.66,63.365l2.331,1.523c-0.671,1.077-1.354,1.891-2.05,2.444s-1.505,0.973-2.429,1.257   c-0.925,0.284-2.011,0.426-3.26,0.426c-3.158,0-5.485-0.911-6.984-2.734c-1.498-1.823-2.245-4.572-2.245-8.248   c0-3.665,0.743-6.413,2.23-8.24s3.78-2.742,6.878-2.742c1.228,0,2.324,0.152,3.29,0.457c0.964,0.305,1.779,0.724,2.443,1.256   c0.665,0.533,1.272,1.282,1.821,2.247l-2.315,1.523c-0.447-0.751-0.898-1.322-1.355-1.713s-1.005-0.701-1.646-0.929   c-0.64-0.229-1.386-0.343-2.238-0.343c-2.113,0-3.664,0.704-4.654,2.109c-0.99,1.406-1.484,3.532-1.484,6.375   c0,2.803,0.487,4.917,1.462,6.344c0.976,1.427,2.544,2.14,4.707,2.14c1.197,0,2.239-0.236,3.122-0.708   C192.167,65.337,192.959,64.522,193.66,63.365z M206.043,69.046c1.492,0,2.675-0.247,3.549-0.739   c0.872-0.492,1.614-1.196,2.224-2.11l-2.163-1.34c-0.498,0.67-1.016,1.155-1.554,1.455s-1.163,0.45-1.873,0.45   c-1.595,0-2.753-0.45-3.473-1.348c-0.722-0.899-1.082-2.404-1.082-4.516h10.389v-1.462c0-2.477-0.519-4.313-1.554-5.506   c-1.036-1.193-2.59-1.79-4.661-1.79c-2.306,0-4.029,0.698-5.172,2.094s-1.713,3.557-1.713,6.481c0,2.793,0.586,4.88,1.759,6.26   C201.892,68.356,203.667,69.046,206.043,69.046z M202.943,55.391c0.625-0.716,1.562-1.074,2.812-1.074   c1.31,0,2.255,0.396,2.84,1.188c0.584,0.792,0.886,1.904,0.906,3.336h-7.798C201.905,57.257,202.319,56.107,202.943,55.391z    M223.789,54.667c-0.671,0-1.453,0.254-2.346,0.762c-0.895,0.508-1.758,1.127-2.59,1.858v11.287h-2.62V52.596h2.62v2.376   c0.741-0.741,1.604-1.398,2.59-1.972c0.984-0.574,1.975-0.861,2.97-0.861c1.543,0,2.675,0.439,3.396,1.317   c0.72,0.879,1.082,2.364,1.082,4.456v10.662h-2.62v-9.413c0-1.523-0.076-2.539-0.229-3.046s-0.401-0.876-0.746-1.104   C224.95,54.782,224.447,54.667,223.789,54.667z M238.913,69.046c-1.625,0-2.79-0.427-3.496-1.28s-1.058-2.193-1.058-4.021V54.79   h-2.285v-2.193h2.285v-4.448h2.62v4.448h4.051v2.193h-4.051v8.454c0,1.29,0.129,2.214,0.388,2.772   c0.259,0.559,0.835,0.838,1.729,0.838c0.771,0,1.486-0.142,2.147-0.427l0.686,2.148C240.913,68.888,239.908,69.046,238.913,69.046z    M253.688,55.186c-0.285-0.122-0.691-0.183-1.219-0.183c-0.782,0-1.538,0.18-2.263,0.541s-1.571,1.023-2.535,1.988v11.043h-2.62   V52.596h2.62v2.589c0.731-0.741,1.499-1.398,2.307-1.973c0.808-0.574,1.704-0.86,2.69-0.86c0.659,0,1.188,0.106,1.584,0.32   L253.688,55.186z M267.306,53.388c-0.996-0.832-2.641-1.249-4.936-1.249c-1.483,0-2.725,0.236-3.725,0.708s-1.743,1.15-2.23,2.033   l2.147,1.31c0.253-0.437,0.671-0.843,1.256-1.219c0.584-0.375,1.414-0.563,2.491-0.563c1.207,0,2.154,0.224,2.84,0.67   s1.028,1.285,1.028,2.513v0.776l-3.93,0.351c-1.554,0.183-2.74,0.484-3.557,0.906c-0.817,0.422-1.441,0.995-1.874,1.721   c-0.432,0.726-0.646,1.637-0.646,2.734c0,1.453,0.413,2.643,1.24,3.572c0.828,0.929,2.004,1.394,3.527,1.394   c1.036,0,1.965-0.234,2.787-0.701c0.822-0.467,1.64-1.056,2.452-1.767v1.996h2.62v-10.86   C268.798,55.663,268.3,54.221,267.306,53.388z M266.178,64.37c-0.335,0.265-0.678,0.536-1.028,0.815s-0.713,0.528-1.089,0.746   c-0.376,0.218-0.757,0.401-1.142,0.548c-0.387,0.148-0.777,0.221-1.173,0.221c-0.956,0-1.672-0.208-2.148-0.625   c-0.478-0.416-0.716-1.102-0.716-2.056c0-1.005,0.354-1.77,1.066-2.292c0.711-0.523,1.935-0.861,3.671-1.013l2.559-0.244V64.37z    M276.597,68.574h-2.62v-22.68h2.62V68.574z M289.452,54.667c-0.67,0-1.453,0.254-2.346,0.762c-0.895,0.508-1.758,1.127-2.59,1.858   v11.287h-2.619V52.596h2.619v2.376c0.741-0.741,1.604-1.398,2.59-1.972c0.984-0.574,1.975-0.861,2.97-0.861   c1.543,0,2.676,0.439,3.396,1.317c0.721,0.879,1.082,2.364,1.082,4.456v10.662h-2.62v-9.413c0-1.523-0.076-2.539-0.229-3.046   s-0.401-0.876-0.746-1.104C290.613,54.782,290.111,54.667,289.452,54.667z M309.816,53.388c-0.995-0.832-2.641-1.249-4.935-1.249   c-1.483,0-2.726,0.236-3.726,0.708c-0.999,0.472-1.743,1.15-2.23,2.033l2.147,1.31c0.254-0.437,0.672-0.843,1.256-1.219   c0.585-0.375,1.414-0.563,2.491-0.563c1.208,0,2.155,0.224,2.84,0.67c0.686,0.447,1.029,1.285,1.029,2.513v0.776l-3.93,0.351   c-1.554,0.183-2.74,0.484-3.558,0.906c-0.816,0.422-1.441,0.995-1.873,1.721c-0.433,0.726-0.646,1.637-0.646,2.734   c0,1.453,0.412,2.643,1.24,3.572c0.828,0.929,2.004,1.394,3.527,1.394c1.035,0,1.965-0.234,2.787-0.701   c0.822-0.467,1.64-1.056,2.452-1.767v1.996h2.62v-10.86C311.31,55.663,310.811,54.221,309.816,53.388z M308.689,64.37   c-0.335,0.265-0.679,0.536-1.029,0.815c-0.35,0.279-0.713,0.528-1.088,0.746c-0.377,0.218-0.758,0.401-1.143,0.548   c-0.386,0.148-0.776,0.221-1.173,0.221c-0.955,0-1.671-0.208-2.147-0.625c-0.478-0.416-0.716-1.102-0.716-2.056   c0-1.005,0.354-1.77,1.066-2.292c0.71-0.523,1.935-0.861,3.671-1.013l2.559-0.244V64.37z M337.857,68.574h-12.886V47.494h12.886   v2.543H327.79v6.154h8.605v2.559h-8.605v7.266h10.067V68.574z M358.634,52.596h2.62l-3.93,15.978h-2.438l-3.899-12.231   l-3.899,12.231h-2.391l-3.976-15.978h2.727l2.711,12.17l3.808-12.17h2.179l3.898,12.17L358.634,52.596z M364.817,52.596h2.62   v15.978h-2.62V52.596z M364.803,49.702c-0.244-0.274-0.366-0.66-0.366-1.158c0-0.538,0.132-0.932,0.396-1.18   c0.263-0.249,0.695-0.374,1.295-0.374c0.619,0,1.061,0.119,1.325,0.358c0.263,0.239,0.396,0.638,0.396,1.196   c0,0.609-0.137,1.023-0.411,1.242c-0.274,0.218-0.712,0.327-1.31,0.327C365.488,50.113,365.046,49.976,364.803,49.702z    M382.685,66.99v1.584h2.635v-22.68h-2.635v8.012c-1.352-1.178-2.833-1.767-4.448-1.767c-2.01,0-3.585,0.777-4.722,2.331   c-1.138,1.554-1.705,3.635-1.705,6.245c0,2.661,0.521,4.714,1.568,6.161c1.045,1.447,2.528,2.171,4.447,2.171   c0.954,0,1.854-0.198,2.696-0.594C381.363,68.056,382.085,67.569,382.685,66.99z M374.521,60.654c0-2.122,0.378-3.684,1.134-4.684   s1.729-1.5,2.918-1.5c1.35,0,2.721,0.574,4.112,1.721v8.454c-0.56,0.539-1.217,1.016-1.974,1.432   c-0.756,0.417-1.551,0.625-2.383,0.625C375.789,66.701,374.521,64.685,374.521,60.654z M396.773,69.046   c1.493,0,2.676-0.247,3.549-0.739s1.615-1.196,2.224-2.11l-2.162-1.34c-0.499,0.67-1.017,1.155-1.554,1.455   c-0.539,0.3-1.163,0.45-1.874,0.45c-1.595,0-2.752-0.45-3.473-1.348c-0.722-0.899-1.081-2.404-1.081-4.516h10.388v-1.462   c0-2.477-0.518-4.313-1.554-5.506s-2.589-1.79-4.661-1.79c-2.305,0-4.029,0.698-5.172,2.094c-1.142,1.396-1.713,3.557-1.713,6.481   c0,2.793,0.586,4.88,1.759,6.26C392.622,68.356,394.397,69.046,396.773,69.046z M393.673,55.391   c0.625-0.716,1.562-1.074,2.812-1.074c1.31,0,2.256,0.396,2.84,1.188s0.886,1.904,0.907,3.336h-7.799   C392.635,57.257,393.049,56.107,393.673,55.391z M409.583,68.574h-2.619V52.596h2.619v2.376c0.741-0.741,1.604-1.398,2.59-1.972   c0.984-0.574,1.975-0.861,2.97-0.861c1.543,0,2.676,0.439,3.397,1.317c0.72,0.879,1.081,2.364,1.081,4.456v10.662h-2.62v-9.413   c0-1.523-0.076-2.539-0.229-3.046s-0.401-0.876-0.746-1.104c-0.346-0.229-0.849-0.343-1.508-0.343c-0.67,0-1.453,0.254-2.346,0.762   c-0.895,0.508-1.758,1.127-2.59,1.858V68.574z M425.652,66.921c-1.188-1.417-1.782-3.516-1.782-6.298   c0-2.782,0.589-4.892,1.768-6.329c1.177-1.437,2.913-2.155,5.209-2.155c2.63,0,4.503,0.975,5.62,2.924l-2.147,1.31   c-0.396-0.619-0.861-1.102-1.395-1.447s-1.236-0.518-2.108-0.518c-1.534,0-2.623,0.556-3.269,1.668   c-0.645,1.112-0.966,2.648-0.966,4.607c0,1.493,0.152,2.656,0.457,3.488s0.778,1.472,1.423,1.919   c0.646,0.447,1.465,0.67,2.461,0.67c0.853,0,1.548-0.16,2.087-0.48c0.537-0.32,1.045-0.815,1.522-1.485l2.148,1.31   c-0.499,0.853-1.188,1.557-2.072,2.11c-0.883,0.553-2.102,0.83-3.655,0.83C428.607,69.046,426.841,68.338,425.652,66.921z    M440.61,52.596h2.619v16.663c0,1.929-0.376,3.3-1.127,4.113c-0.752,0.812-1.965,1.218-3.641,1.218   c-1.015,0-1.97-0.152-2.863-0.457l0.655-2.163c0.741,0.294,1.508,0.442,2.3,0.442c0.854,0,1.408-0.297,1.667-0.891   c0.259-0.594,0.39-1.45,0.39-2.566V52.596z M443.252,47.349c0.259,0.239,0.39,0.638,0.39,1.196c0,0.609-0.136,1.023-0.404,1.242   c-0.27,0.218-0.708,0.327-1.317,0.327c-0.64,0-1.08-0.137-1.318-0.411s-0.357-0.66-0.357-1.158c0-0.538,0.129-0.932,0.388-1.18   c0.26-0.249,0.688-0.374,1.288-0.374C442.549,46.991,442.993,47.11,443.252,47.349z M458.751,53.388   c-0.996-0.832-2.641-1.249-4.936-1.249c-1.482,0-2.725,0.236-3.725,0.708s-1.743,1.15-2.23,2.033l2.147,1.31   c0.254-0.437,0.672-0.843,1.256-1.219c0.585-0.375,1.414-0.563,2.491-0.563c1.207,0,2.154,0.224,2.84,0.67s1.029,1.285,1.029,2.513   v0.776l-3.93,0.351c-1.554,0.183-2.74,0.484-3.558,0.906s-1.441,0.995-1.873,1.721c-0.433,0.726-0.647,1.637-0.647,2.734   c0,1.453,0.413,2.643,1.241,3.572c0.828,0.929,2.004,1.394,3.526,1.394c1.036,0,1.965-0.234,2.788-0.701   c0.822-0.467,1.639-1.056,2.452-1.767v1.996h2.619v-10.86C460.243,55.663,459.745,54.221,458.751,53.388z M457.624,64.37   c-0.335,0.265-0.679,0.536-1.029,0.815s-0.713,0.528-1.088,0.746c-0.377,0.218-0.758,0.401-1.143,0.548   c-0.387,0.148-0.777,0.221-1.173,0.221c-0.955,0-1.671-0.208-2.147-0.625c-0.478-0.416-0.716-1.102-0.716-2.056   c0-1.005,0.354-1.77,1.065-2.292c0.711-0.523,1.935-0.861,3.671-1.013l2.56-0.244V64.37z"></path>
    <path fill="#FFFFFF"
          d="M128.596,80.492c0,4.439-3.599,8.039-8.039,8.038c-4.439,0-8.039-3.6-8.038-8.038   c-0.001-4.439,3.598-8.04,8.038-8.04C124.997,72.453,128.596,76.053,128.596,80.492z M100.663,92.348   c-4.439,0-8.038,3.6-8.037,8.04c-0.002,4.438,3.598,8.037,8.037,8.037c4.44,0.001,8.039-3.599,8.039-8.038   S105.102,92.348,100.663,92.348z M60.874,92.348c-4.439-0.001-8.038,3.6-8.037,8.039c-0.002,4.438,3.598,8.037,8.037,8.037   c4.44,0.001,8.039-3.599,8.039-8.038C68.913,95.947,65.313,92.347,60.874,92.348z M100.663,68.635   c4.44,0.001,8.039-3.599,8.039-8.038c-0.001-4.439-3.6-8.04-8.039-8.039c-4.44-0.001-8.039,3.6-8.038,8.04   C92.624,65.036,96.223,68.635,100.663,68.635z M40.979,72.453c-4.439-0.001-8.039,3.599-8.037,8.04   c-0.001,4.438,3.598,8.037,8.037,8.037c4.44,0.001,8.039-3.599,8.039-8.039C49.018,76.051,45.417,72.451,40.979,72.453z    M60.874,68.635c4.439,0,8.039-3.599,8.039-8.038c-0.001-4.44-3.601-8.04-8.039-8.04c-4.439,0-8.039,3.6-8.038,8.04   C52.834,65.035,56.434,68.635,60.874,68.635z"></path>
    <path fill="none"
          d="M141.744,87.622l-53.353,53.354c-4.211,4.21-11.035,4.21-15.246,0L19.792,87.623   c-4.209-4.21-4.209-11.036,0-15.245l53.355-53.354c4.209-4.211,11.034-4.211,15.245,0l53.352,53.354   C145.955,76.587,145.955,83.413,141.744,87.622z"></path>
    <path fill="#BCBCBB"
          d="M59.367,53.953c-1.835,0-3.521,0.622-4.874,1.657c1.469-1.92,3.776-3.164,6.381-3.164   c4.438,0,8.038,3.6,8.039,8.04c0,2.604-1.244,4.912-3.164,6.38c1.035-1.353,1.656-3.039,1.656-4.874   C67.405,57.552,63.805,53.953,59.367,53.953z M107.194,61.992c0,1.835-0.622,3.521-1.656,4.875   c1.919-1.469,3.164-3.777,3.164-6.382c-0.001-4.439-3.6-8.04-8.039-8.039c-2.604,0-4.912,1.244-6.381,3.164   c1.353-1.035,3.039-1.656,4.874-1.656C103.593,53.953,107.194,57.553,107.194,61.992z M40.979,72.34   c-2.604,0-4.912,1.243-6.38,3.163c1.353-1.034,3.038-1.656,4.874-1.655c4.438-0.001,8.038,3.599,8.038,8.038   c0,1.836-0.621,3.522-1.657,4.875c1.921-1.469,3.165-3.777,3.165-6.382C49.018,75.939,45.417,72.339,40.979,72.34z M120.557,72.34   c-2.604,0-4.912,1.244-6.38,3.164c1.353-1.035,3.038-1.657,4.872-1.657c4.438,0,8.039,3.6,8.04,8.04   c0,1.834-0.621,3.521-1.657,4.874c1.921-1.47,3.164-3.777,3.164-6.382C128.596,75.94,124.997,72.34,120.557,72.34z M100.663,92.236   c-2.604,0-4.912,1.243-6.381,3.163c1.354-1.035,3.039-1.657,4.874-1.656c4.439-0.001,8.038,3.599,8.039,8.039   c0,1.834-0.621,3.521-1.657,4.874c1.921-1.47,3.164-3.777,3.164-6.382C108.702,95.835,105.102,92.235,100.663,92.236z    M60.874,92.235c-2.604-0.001-4.911,1.243-6.38,3.163c1.353-1.034,3.038-1.656,4.873-1.656c4.438,0,8.038,3.6,8.039,8.039   c0,1.835-0.622,3.521-1.656,4.874c1.919-1.469,3.163-3.777,3.163-6.381C68.913,95.835,65.313,92.234,60.874,92.235z"></path>
    <path fill="#4EAD33"
          d="M88.807,120.281c0,4.439-3.599,8.038-8.039,8.038c-4.439,0-8.039-3.6-8.038-8.038   c-0.001-4.439,3.599-8.039,8.038-8.039C85.207,112.242,88.806,115.842,88.807,120.281z"></path>
    <path fill="#FBBF16"
          d="M88.806,80.492c0,4.439-3.599,8.038-8.039,8.038c-4.438,0-8.038-3.6-8.037-8.038   c-0.001-4.441,3.598-8.04,8.037-8.04C85.206,72.453,88.806,76.051,88.806,80.492z"></path>
    <path fill="#E42625"
          d="M88.806,40.702c0,4.439-3.6,8.039-8.039,8.039c-4.439,0-8.039-3.6-8.038-8.038   c0-4.441,3.599-8.041,8.038-8.04C85.206,32.663,88.805,36.262,88.806,40.702z"></path>
</g>
</svg>
    </div>

    <div class="stopka">CEPIK by I5B1N1</div>
</div>
</body>
</html>
