<!DOCTYPE html>
<html>
<head>
    <title>Dodawanie pojazdów</title>
    <link rel="stylesheet" type="text/css" href="/views/registerClients/register.css">
    <script type="text/javascript" src="/views/registerClients/register.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="mainContainer">
    <nav class="circle">
        <ul>
            <li><a href="../../Index/">Home</a></li>
            <li><a href="../../RegisterClients/">Rejestracja użytkownika</a></li>
            <li><a href="../../RegisterVehicles/">Rejestracja pojazdu</a></li>
            <li><a href="../../ListClients/">Lista użytkowników</a></li>
            <li><a href="../../ListVehicles/">Lista pojazdów</a></li>
        </ul>
    </nav>
    <div class="header">
        <h1 class="addUserHeading">Rejestracja pojazdu do systemu CEPIK</h1>
    </div>

    <form method="post" action="addVehicle" name="addVehicleForm">
        <ul class="form-style-1">
            <li>
                <label>VIN<span class="required"> *</span></label>
                <input type="text" name="vin" required class="field-long" maxlength="17"/>
            <li>
                <label>Numer rejestracyjny<span class="required"> *</span></label>
                <input type="text" name="registerNo" required class="field-long" maxlength="10"/>
            </li>
            <li>
                <label>Data pierwszej rejestracji<span class="required"> *</span></label>
                <input type="date" name="formerRegistrationDate" required class="field-long"/>
            </li>
            <li>
                <label>Data rejestracji</label>
                <input type="date" name="registrationDate" class="field-long"/>
            </li>
            <li>
                <label>Data ostatniego przeglądu<span class="required"> *</span></label>
                <input type="date" name="lastReviewDate" required class="field-long"/>
            </li>
            <li>
                <input type="submit" value="Dodaj pojazd"/>
            </li>
        </ul>
    </form>

    <div class="stopka">CEPIK by I5B1N1</div>
</div>
</body>
</html>