<!DOCTYPE html>
<html>
<head>
    <title>Lista użytkowników</title>
    <link rel="stylesheet" type="text/css" href="/views/registerClients/register.css">
    <script type="text/javascript" src="/views/registerClients/register.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="mainContainer">
    <nav class="circle">
        <ul>
            <li><a href="../../Index/">Home</a></li>
            <li><a href="../../RegisterClients/">Rejestracja użytkownika</a></li>
            <li><a href="../../RegisterVehicles/">Rejestracja pojazdu</a></li>
            <li><a href="../../ListClients/">Lista użytkowników</a></li>
            <li><a href="../../ListVehicles/">Lista pojazdów</a></li>
        </ul>
    </nav>
    <div class="header">
        <h1 class="addUserHeading">Lista użytkowników w systemie CEPIK</h1>
    </div>
    <?php if (isset($data['listClients'])) { ?>
        <?php $listClients = $data['listClients']; ?>
        <!--        --><?php //var_dump($listClients); ?>
        <table class="clientListTable">
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Adres</th>
                <th>Kod pocztowy</th>
                <th>Miasto</th>
                <th>Data urodzenia</th>
                <th>PESEL</th>
            </tr>
            <?php foreach ($listClients as $val) { ?>
                <tr>
                    <td> <?= $val['firstname']; ?></td>
                    <td> <?= $val['lastname']; ?></td>
                    <td> <?= $val['address']; ?></td>
                    <td> <?= $val['postalCode']; ?></td>
                    <td> <?= $val['city']; ?></td>
                    <td> <?= $val['birthDate']; ?></td>
                    <td> <?= $val['pesel']; ?></td>
                </tr>

            <?php } ?>
        </table>
    <?php } else { ?>
        BŁĄD PRZY POBRANIU ZAREJESTROWANYCH OSÓB W SYSTEMIE
    <?php } ?>

    <div class="stopka">CEPIK by I5B1N1</div>
</div>
</body>
</html>
